/* CSS TABLE OF CONTENTS 

  #GLOBAL STYLES
    #GLOBAL RESETS
    #GLOBAL COLORS
    #GLOBAL TYPOGRAPHY
      #BODY
      #HEADINGS
      #PARAGRAPHS
      #LINKS
      #LISTS
      #DEFINITION LISTS
      #CODE BLOCKS
    #UI ELEMENTS & COMPONENTS
      #BUTTONS
    #HELPERS
    #MEDIA
    #LAYOUT
      #CONTAINER
    #STRUCTURAL STYLES
      #BODY
      #MAIN
      #SITE-HEADER
      #SITE-FOOTER
      #SITE-NAV
      #SOCIAL-NAV
      #SECTIONS
        #HEROS
      #SUB-PAGE-SPECIFIC
        #SIDEBAR/ASIDE
*/

/* GLOBAL RESETS */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */

body {
  background-color: rgb(0, 51, 103);
  background-image: linear-gradient(to right, hsl(234, 100%, 8%), #004e92);
  color: rgba(255, 255, 255, 0.8);
}
body a { color: rgba(255, 255, 255, .9);}
body a:hover { color: rgba(255, 255, 255, 1);}

.light { color: rgba(0, 0, 0, 0.8); }
.light a { color: rgba(0, 51, 102, .9); }
.light a:hover { color: rgba(0, 51, 102, 1); }

/* GLOBAL TYPOGRAPHY */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 88.75%; /* 14px */
  line-height: 1.4;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 5em;
  line-height: 1;
  margin: .2em 0;
}
.subheadline {
  font-size: 2em;
  line-height: 1.1;
  margin: .2em 0;
  opacity: .6;
}

/* HEADINGS */
h1, h2, h3, h4 { font-weight: normal; }
h1 {font-size: 3em;}

/* PARAGRAPHS */
p { max-width: 30em; }

/* LINKS */
a { text-decoration: none; }

/* LISTS */
ul {
  padding-left: 1.5em; 
}
li {
  overflow-wrap: break-word;
}

/* DEFINITION LISTS */
dt {
  font-weight: bold;
  margin-top: 1em;
}
dd {
  margin: 0;
}

/* CODE BLOCKS */
pre code {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: block;
  padding: 2em 2em 1em 2em;
}

/* BUTTONS */
.button {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: .5em;
}
.button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 51, 103, 1);
}
.light .button {
  background-color: rgba(0, 51, 103, .9);
  color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 51, 153, 1);
}
.light .button:hover {
  background-color: rgba(0, 51, 103, 1);
  color: rgba(255, 255, 255, 1);
}

/* HELPERS */
.hide-visually {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 4em 0;
}

/* MEDIA */
img {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.center-wrapper {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SITE STRUCTURAL STYLES */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* MAIN CONTENT AREA */
main.light {
  background-color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* SITE HEADER */
.site-header {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SITE FOOTER */
.site-footer {
  padding: 1em;
  /* color: rgba(255, 255, 255, 1); */
}
/* SITE ID */
.site-id h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0.25em;
}

/* SITE NAV */
@media (min-width: 768px) {
  .site-nav {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav ul,
.site-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.25em 0 0 0;
}
.site-nav a {
  display: block;
  padding: 0.5em;
  margin: 0 .25em;
}


/* SOCIAL NAV */
.social-nav,
.social-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
.social-nav a {
  display: block;
  padding: 0 .5em;
}
.social-nav img {
  display: block;
  margin-top: 6px;
}


/* SECTIONS */
section{
  padding: 2em 1em;
}

/* HERO */
.hero {
  padding: 5% 1em 7% 1em;
}

.hero .running-head {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  margin: 1em 0;
}

.light .hero {
  background-color: #eee;
  width: 100%;
  padding: 6% 1em;
}

/* SIDEBAR/ASIDE */
.sidebar aside {
  padding: 2em 2em 2em 1em;
}

@media (min-width: 768px) {
  .sidebar {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .sidebar aside {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 1em 2em 0;
    padding: 0 1em;
  }
}



/* ------------------------------------------------ */
/* ----------- FOR VISUAL DESTING ONLY  ----------- */
/* ------------------------------------------------ */

* {
  /* box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1) !important;
  background-color: rgba(0, 0, 0, .05) !important;
  color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  border-color: rgba(0,0,0,0) !important; */
}
